{% extends "auctions/layout.html" %}

{% block main %}
<h2>Current Listing</h2>

<article>
    <section>
        {% include "auctions/listing_template.html" %}

                <section id="comments-section">
                    {% for comment in listing.comments.all %}
                    <p style="display: inline">{{ comment.commenter }} says: {{ comment.comment }}</p>
                        {% if user.username == listing.user_owner.username or user.username == comment.commenter.username %}
                            <form action="{% url 'del_comment' comment_id=comment.pk %}" style="display: inline" method="POST" style="display: inline">
                                {% csrf_token %}
                                    <button type="submit" style="display: inline">Delete Comment</button>

                                </form>
                        {% endif %}
                        <br>
                    {% endfor %}
                </section>

        {% include "auctions/comment_template.html" %}
    </section>

</article>
{% endblock %}
